@model BudgetApp.WebUI.ViewModels.PaymentPlanViewModel


<table>
    <tr>
        <th>Date</th>
        @foreach (string name in @Model.Parties.Select(p=>p.PartyName))
        {
            <th>@name</th>   
        }
        <th>Total</th>
    </tr>

    @{ decimal total; }
    @foreach (DateTime paydate in @Model.plans.Keys)
    {
        <tr>
            @{total = 0;}
            <td>@paydate.ToShortDateString()</td>
            @{ var plans = @Model.plans[paydate];}

            @foreach (string party in @Model.Parties.Select(p=>p.PartyName))
            {
                if (plans.ContainsKey(party))
                {
                    <td>$@plans[party]</td>
                    total += plans[party];
                }
                else
                {
                    <td>None</td>
                }
            }
        <td>$@total</td>
        </tr>   
    }
</table>