@model IQueryable<BudgetApp.Domain.Entities.CreditEntry>
@using BudgetApp.Domain.Entities

@{
    ViewBag.Title = "CreditView";
}

<h2>CreditView</h2>

@Html.ActionLink("Add new", "Edit")

<table>
    <tr>
        <td style="visibility:hidden"></td>
        <td> Date </td>
        <td> Description </td>
        <td> Purchase Total </td>
        <td> Amount Paid </td>
        <td> Amount Remaining </td>
        <td> Card Used </td>
        <td> Who's Paying </td>
        <td> Pay Date </td>
    </tr>
@foreach (CreditEntry entry in Model)
{
    <tr>
            <td id="EntryId" style="visibility:hidden">@entry.CreditEntryId</td>
            <td id="entry-date" class="creditlistcell"> @entry.Date.ToShortDateString() </td>
            <td id="entry-description" class="creditlistcell"> @Html.ActionLink(entry.Description, "Edit", new { EntryID = entry.CreditEntryId }) </td>
            <td id="entry-amount" class="creditlistcell"> @entry.PurchaseTotal </td>
            <td id="amount-paid" class="creditlistcell"> @entry.AmountPaid </td>
            <td id="amount-remaining" class="creditlistcell_static"> @entry.AmountRemaining </td>
            <td id="card-spinner" class="creditlistcell"> @entry.Card </td>
            <td id="party-spinner"> @entry.ResponsibleParty </td>
            <td id="paydate-spinner"><div id="scheduledate" class="date">@{if (!entry.PayDate.HasValue) 
                                                                           { <div>"Not Scheduled"</div>
                                                                           } else
                                                                           {  @entry.PayDate.Value.ToShortDateString()
                                                                           }} </div> </td>
    </tr>
}
</table>
<br />
<br />
<div id="editform" style="display: none;">
    @{Html.RenderPartial("PartialCreditEdit", new CreditEntry());}
</div>
<a href="#" id="addentry">Add Purchase</a>